@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .twitchplays_card {

        background: rgba(122, 61, 212, 0.06);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(17.1px);
        border: 1px solid rgba(122, 61, 212, 0.33);
    }

    .twitchplays_button {
        background: rgba(122, 70, 199, 0.08);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.8px);
        -webkit-backdrop-filter: blur(5.8px);
        border: 1px solid rgba(122, 70, 199, 0.33);
    }

    /* ... */
}